@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
    background-color: #000301;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #05e3787a;
}

.header-container {
    width: 100%;
    height: 60px;
    background: linear-gradient(to top, #00000000, #00ff8413);
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    backdrop-filter: blur(20px);
    z-index: 111111111111;
}

.mobile-menu{
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;

}

.hero-section {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.hero-container {
    max-width: 1200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.hero-animation-container {
    width: 500px;
    height: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.personal-image-container img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: none;
    transition: .6s;
    box-shadow: 0px 0px 50px #e4178b4e;

}

.skills-show-up-container {
    width: 450px;
    height: 450px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-show-up-container .img {
    width: 50px;
    height: 50px;
    position: absolute;
    transition: .5s;
    z-index: -1;

}

.skills-show-up-container .img p {
    color: white;
    position: absolute;
    left: -80%;
    font-size: 12px;
}

.skills-show-up-container .img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.skills-show-up-container .img:nth-child(1) {
    left: 50px;
    top: 100px;
}

.skills-show-up-container .img:nth-child(2) {
    right: 40px;
    bottom: 130px;

}

.skills-show-up-container .img:nth-child(3) {
    bottom: 30px;
}

.skills-show-up-container .img:nth-child(4) {
    top: 20px;
}

.skills-show-up-container .img:nth-child(5) {
    left: 50px;
    bottom: 130px;
}

.skills-show-up-container .img:nth-child(6) {
    right: 60px;
    top: 90px;
}

.skills-show-up-container .img:nth-child(2) img {
    border-radius: 10px;
    border: none;
}

.skills-show-up-container .img:nth-child(5) img {
    border-radius: 10px;
    border: none;
}

.skills-show-up-container .img:nth-child(6) p {
    left: 80%;
}

.skills-show-up-container .img:nth-child(1) p {
    left: -60%;
}

.skills-show-up-container .img .typed-cursor {
    display: none;
}

.typed-cursor {
    color: #ca0073 !important;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    filter: blur(5px);
}

.visible {
    opacity: 1;
    transform: translate(0px);
    filter: blur(0px);
}


.animate img {
    animation: animateImg 1s linear alternate-reverse infinite;
}

@keyframes animateImg {
    from {
        transform: translateY(5px);
    }

    to {
        transform: translateY(0px);

    }
}

.about-me-container {
    width: 500px;
    align-self: flex-start;
    margin-top: 25px;
}


.about-me-container h1 {
    font-size: 28px;
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
}

.about-me-container h1 span {
    color: #05e377;
}

.about-me-container p {
    color: rgb(120, 120, 120);
}

.hero-con-btns {
    margin-top: 30px;
}

.courses-btn {
    font-size: 16px;
    font-weight: 500;
    padding: 2px 20px;
    border: none;
    border-radius: 5px;
    background: transparent;
    border: 1px solid #05e377;
    color: white;
}

.join-me-btn {
    font-size: 16px;
    font-weight: 600;
    padding: 2px 10px;
    border: none;
    border-radius: 5px;
    margin-left: 5px;
    color: #000000;
    background: linear-gradient(to right, #e4178b, rgb(108, 3, 132));
}

.hero-con-btns button {
    transition: .3s;
    cursor: pointer;

}

.hero-con-btns button:hover {
    transform: translateY(-3px);
}

.hero-social-icons {
    display: flex;
    width: fit-content;
    gap: 10px;
    margin-top: 60px;
}

.hero-social-icons img {
    width: 35px;
    height: 35px;
    object-fit: cover;
    object-position: center;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

.logo h1 {
    font-size: 23px;
    color: #05e377;
    font-family: "IBM Plex Mono", monospace;
}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;

}

.header-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 40px;
    border-bottom: 1px solid #ffffff25;
}

.header-menu ul a {
    text-decoration: none;
    color: white;
}

.header-menu ul a li {
    list-style-type: none;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding: 5px 10px;

}

.active-menu-slider {
    background-color: #e4178b;
    transition: .3s;
    height: 3px;
    border-radius: 10px;
    position: absolute;
    bottom: -2px;
    left: 0;

}

.authbtn {
    font-size: 15px;
    font-weight: 500;
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.159);
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.authbtn:hover {
    color: #05e377;
    box-shadow: 0px 4px 15px #05e37846;
}

.log-btn {
    font-size: 15px;
    font-weight: 500;
    color: #e4178b;
    padding: 2px 10px;
    border-radius: 5px;
    border: 1px solid #e4178b35;
    background-color: transparent;
    cursor: pointer;
    transition: .3s;
}

.log-btn:hover {
    box-shadow: 0px 4px 15px #e4178b47;
}

.authen-btns {
    display: flex;
    gap: 10px;
}

.download-app-img {
    width: 100px !important;
    height: 35px !important;
    border-radius: 5px !important;
    object-fit: cover !important;
    object-position: center;
    margin-left: 20px;
}

.skills-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sk-se-container {
    max-width: 1100px;
    width: 100%;

}

.sk-se-heading {
    font-weight: 700;
    background-image: linear-gradient(180deg, #05e377, #ffffff);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border: 1px solid #ffffff2c;
    width: fit-content;
    padding: 2px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.sk-se-items ul {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.sk-se-items ul li {
    color: white;
    list-style-type: none;
    padding: 2px 10px;
    border: 1px solid #ffffff2c;
    border-radius: 5px;

}

.projects-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pr-se-container {
    max-width: 1100px;
    width: 100%;
    margin-top: 20px;
}

.list-of-projects-container h3 {
    color: white;
    margin-bottom: 20px;
    margin-top: 28px;
    font-weight: 600;
}

.pr-item {
    width: 300px;
    height: 310px;
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00070276;
    cursor: pointer;
    transition: .5s;
}

.pr-item:hover {
    transition: .2s;
    transform: translateY(-2px);
    box-shadow: 0px 5px 15px #05e3784e;
}

.pr-item-image img {
    width: 300px;
    height: 170px;
    object-fit: cover;
    object-position: center;
}

.pr-item-info {
    padding: 10px;
}

.pr-item-info h3 {
    color: #05e377;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 18px;
    margin-top: 0px;
}

.pr-item-info p {
    color: rgb(188, 188, 188);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.pr-se-flex-items {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.projects-section a {
    text-decoration: none;
}

.dev-social-links {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.dev-social-links button {
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.dev-social-links button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.animateCards {
    opacity: 0;
    transform: translateY(50px);
    filter: blur(5px);
}

.animatedCards {
    opacity: 1;
    transform: translate(0px);
    filter: blur(0px);
}

.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 30px;
}

.con-container {
    max-width: 1100px;
    width: 100%;
    border: 1px solid #ffffff1d;
    border-radius: 10px;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    box-shadow: inset 0px 0px 50px #e4178b35;
    transition: .4s;
}

.leftAni {
    opacity: 0;
    transform: translateX(-2vw);
    filter: blur(1px);
}

.leftAnimated {
    opacity: 1;
    transform: translateX(0px);
    filter: blur(0px);
}

.con-animate-avatar {
    width: 250px;
    height: 250px;

}

.animateContactAv {
    width: 100%;
    height: 100%;
}

.con-main-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.con-animate-avatar h3 {
    color: white;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
}

.con-main-container p {
    color: white;
}

.con-thr-gmail {
    width: 420px;
    border: none;
    background-color: white;
    text-align: left;
    padding: 6px;
    border-radius: 5px;
    overflow: hidden;
    transition: .4s;
    cursor: pointer;
}

.con-thr-gmail img {
    width: 150px;
    height: 30px;
    object-fit: cover;
    object-position: center;
}

.con-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.con-form input {
    width: 400px;
    padding: 10px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    outline: none;
    transition: .4s;

}

.con-form textarea {
    max-width: 400px;
    width: 400px;
    padding: 10px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 5px;
    outline: none;
    color: white;
    transition: .4s;
}

.resume-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.resume-sec-container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}

.resu-info {
    width: 320px;
}

.resu-info h3 {
    color: rgb(42, 107, 248);
    font-size: 24px;
    font-weight: 500;
}

.resu-info p {
    color: rgb(189, 189, 189);
}

.resu-box {
    width: 450px;
    height: 200px;
    border: 1px solid #05e3784a;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: inset 0px 10px 35px 10px #05e3781c;
    transition: .5s;

}

.resu-box .img {
    width: 400px;
    height: 200px;
    background-image: url(img/myresumepic.png);
    background-size: 100%;
    object-fit: cover;
    object-position: top;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: 30px;
    box-shadow: inset 0px 10px 35px 10px black;
    border: none;
}

.resu-down-btn {
    border: 1px solid rgba(255, 255, 255, 0.149);
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.27);
    position: absolute;
    bottom: 10px;
    right: -130px;
    transition: .3s;
    text-decoration: none;
    color: black;
    font-weight: 600;
    box-shadow: 0px 0px 10px #0000002a;
}

.resu-box:hover .resu-down-btn {
    right: 10px;
}

footer {
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container {
    max-width: 1100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot-main {
    width: fit-content;
    height: 60px;
    border: 1px solid #ffffff2c;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
}

.foot-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: 2px solid #05e377;
    object-fit: cover;
    object-position: center;
}

.foot-title {
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.copyright-sec {
    color: #a5a4a4;
    margin-top: 2px;
    font-size: 14px;
}

.foot-main-con {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.foot-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.foot-menu li {
    list-style-type: none;
    color: #a5a4a4;
    font-size: 15px;
    cursor: pointer;
}

.foot-menu li:hover {
    color: #05e377;
}

@media screen and (max-width: 1245px) {
    body {
        padding: 0px 30px;
    }
}

@media screen and (max-width: 1060px) {

    .skills-section {
        margin-top: 400px;
    }

    .hero-social-icons {
        margin-top: 20px;
    }
}

@media screen and (max-width: 890px) {

    .header-menu {
        display: none;
    }

    .mobile-menu{
        display: flex;
    }
}

@media screen and (max-width: 760px) {
    .footer-container {
        flex-direction: column;
        gap: 20px;

    }

    .copyright-sec {
        font-size: 13px;
    }
}

@media screen and (max-width: 743px) {

    .con-animate-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: fit-content;
        width: fit-content;
    }

    .animateContactAv {
        width: 30px;
        height: 30px;
    }

    .con-container {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        padding: 20px 20px;
    }

    .resume-sec-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .con-main-container {
        width: fit-content;
    }
}

@media screen and (max-width: 510px) {
    .resu-box {
        width: 316px;
    }

    .resu-box .img {
        width: 260px;
    }

    .personal-image-container img {
        width: 150px;
        height: 150px;
    }

    .skills-show-up-container {
        width: 364px;
        height: 364px;
    }

    .skills-show-up-container .img {
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 500px) {
    .pr-se-flex-items {
        flex-direction: column;
        justify-content: center;
    }

    .con-thr-gmail {
        width: 250px;
    }

    .con-form input {
        width: 230px;
    }

    .con-form textarea {
        width: 230px;
    }
}

@media screen and (max-width: 385px) {
    .foot-main {
        height: fit-content;
    }
}

@media screen and (max-width: 400px) {
    .personal-image-container img {
        width: 120px;
        height: 120px;
    }

    .skills-show-up-container {
        width: 318px;
        height: 318px;
    }

    .skills-show-up-container .img:nth-child(2) {
        right: 58px;
        bottom: 99px;
    }

    .skills-show-up-container .img:nth-child(1) {
        left: 61px;
        top: 89px;
    }

    .skills-show-up-container .img:nth-child(4) {
        top: 31px;
    }

    .skills-show-up-container .img:nth-child(5) {
        left: 62px;
        bottom: 96px;
    }

    .skills-show-up-container .img:nth-child(3) {
        bottom: 55px;
    }

    .skills-show-up-container .img:nth-child(6) {
        right: 74px;
        top: 73px;
    }

    .header-container {
        flex-direction: column;
        gap: 20px;
        padding-top: 15px;
        height: fit-content;
        padding-bottom: 10px;
    }
}